{% extends 'layout.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div id="m1" style="width:100%; height:600px;"></div>
    </div>
{% endblock %}

{% block js %}
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script>
        Highcharts.chart('m1', {
            chart: {
                type: 'column'
            },
            title: {
                text: 'Degrees of delay with different operators',
                align: 'center',
                style: {
                    color: '#000000',
                    fontWeight: 'bold',
                    fontSize: '20px'
                }
            },
            xAxis: {
                categories: {{ operators_name | safe }},
                crosshair: true,
                labels: {
                    style: {
                        color: 'skyblue',
                        fontSize: '15px'
                    }
                }
            },
            yAxis: {
                min: 0,
                max: 0.2,
                title: {
                    text: null
                },
                labels: {
                    enabled: true,
                    style: {
                        fontSize: '15px'
                    }
                }
            },
            tooltip: {
                valueSuffix: ''
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0,
                }
            },
            legend: {
                itemStyle: {
                    color: '#000000',
                    fontSize: '15px'
                }
            },
            series: [
                {
                    name: 'Median',
                    color: 'orange',
                    data: {{ median_values | safe }}
                },
                {
                    name: 'Mean',
                    color: '#98df8a',
                    data: {{ mean_values | safe }}
                }
            ]
        });
    </script>
{% endblock %}
